<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6 col-12">
            <app-slides-only></app-slides-only>
        </div>
        <div class="col-xl-6 col-12">
            <app-with-controls></app-with-controls>
        </div>
        <div class="col-xl-6 col-12">
            <app-auto-play></app-auto-play>
        </div>
        <div class="col-xl-6 col-12">
            <app-with-indicator></app-with-indicator>
        </div>
        <div class="col-xl-6 col-12">
            <app-with-caption></app-with-caption>
        </div>
        <div class="col-xl-6 col-12">
            <app-cross-fade></app-cross-fade>
        </div>
        <div class="col-xl-6 col-12">
            <app-dark-variant></app-dark-variant>
        </div>
    </div>
</div>
