<div class="container-fluid p-0">
  <div class="row">
      <!-- <app-header-login></app-header-login> -->
    <div class="col-12">
      <div class="login-card login-dark">
        <div>
          <div class="login-main">
            <form class="theme-form"  [formGroup]="loginForm">
                <div class="row justify-content-md-center">
                    <div class="col-md-auto">
                        <img [src]="logoCentral" alt="">
                      </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-6">
                        <img [src]="IconeUsuario" alt="">
                      </div>
                </div>

                <p>Entre com o seu Usuário e Senha</p>
                <div class="form-group">
                  <label class="col-form-label">Usuário</label>
                    <input class="form-control" type="text" placeholder="digite seu usuário" formControlName="usuario">
                    <div *ngIf="loginForm.controls['usuario'].touched && loginForm.controls['usuario'].errors?.['required']"
                        class="text text-danger mt-1">
                        Usuário Requerido
                    </div>
                    <div *ngIf="loginForm.controls['usuario'].touched && loginForm.controls['usuario'].errors?.['usuario']"
                        class="text text-danger mt-1">
                        Invalid Usuario
                    </div>
                  </div>
                <div class="form-group">
                  <label class="col-form-label">Senha</label>
                  <div class="form-input position-relative">
                    <input class="form-control" [type]="show ? 'text' : 'password'" formControlName="password" required="" placeholder="*********">
                    <div class="show-hide" (click)="showPassword()" *ngIf="!show"><span class="show"></span></div>
                      <div class="show-hide" (click)="showPassword()" *ngIf="show"><span class="Hide"></span></div>
                      <div *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].errors?.['required']"
                            class="text text-danger mt-1">
                            Senha Requerida
                      </div>
                  </div>
                </div>
                <div class="form-group mb-0">
                    <div class="checkbox p-0">
                        <input id="checkbox1" type="checkbox">
                        <label for="checkbox1">Remember password</label>
                    </div><a class="link" [routerLink]="['/authentication/forgot-password']">Forgot password?</a>
                    <div class="text-end mt-3">
                        <button class="botaoLogar btn  bnt-lg btn-block w-100" [disabled]="!loginForm.valid" (click)="login()" type="button">Logar</button>
                    </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


