<div class="container-fluid">
    <div class="user-profile">
        <div class="row">
            <div class="col-sm-12">
                <app-profile></app-profile>
            </div>
            <div class="col-sm-12">
                <app-single-post [data]="singlepost1"></app-single-post>
            </div>
            <div class="col-sm-12">
                <app-double-post></app-double-post>
            </div>
            <div class="col-sm-12">
                <app-single-post [data]="singlepost2"></app-single-post>
            </div>
            <div class="col-sm-12">
                <app-side-post></app-side-post>
            </div>
        </div>
    </div>
</div>